
<p-dialog header="{{modalType}}" [modal]="true" [(visible)]="displayAddModal" [style]="{ width: '25rem' }"
[draggable]="false"
  [resizable]="false"
  (onHide)="closeDailog()">
    <form [formGroup]="prodForm"class="product-form">
      <div class="field">
        <label class="block" for="title">Title</label>
        <input type="text" pInputText id="title" formControlName="title" />
        <small
        class="p-error block"
        *ngIf="
          prodForm.controls['title'].invalid &&
          prodForm.controls['title'].dirty"
        >Field is required</small>
      </div>
      <div class="field">
        <label class="block" for="price">Price</label>
        <p-inputNumber
          id="price"
          formControlName="price"
          class="block"
        ></p-inputNumber>
        <small
          class="p-error block"
          *ngIf="
            prodForm.controls['price'].invalid &&
            prodForm.controls['price'].dirty
          "
          >Field is required</small
        >
      </div>
      <div class="field">
        <label class="block">Description</label>
        <textarea pInputTextarea formControlName="description"></textarea>
      </div>
      <div class="field">
        <label class="block" for="image">Image</label>
        <input type="text" pInputText id="image" formControlName="image" />
        <small
          class="p-error block"
          *ngIf="
            prodForm.controls['image'].invalid &&
            prodForm.controls['image'].dirty
          "
          >Field is required</small
        >
      </div>
      <div class="field">
        <label class="block" for="category">Category</label>
        <input type="text" pInputText id="category" formControlName="category" />
        <small
          class="p-error block"
          *ngIf="
            prodForm.controls['category'].invalid &&
            prodForm.controls['category'].dirty"
          >Field is required</small
        >
      </div>
    </form>
    <ng-template pTemplate="footer">
        <p-button 
            label="Cancel" 
            [text]="true" 
            severity="secondary" 
            (onClick)=closeDailog() />
        <p-button 
            label="Save" 
            [outlined]="true" 
            severity="secondary" 
            (onClick)=addEditProduct()
          />
    </ng-template>
</p-dialog>